--index-url https://pypi.python.org/simple/

PyYAML==3.10
bottle==0.12.7
PyMySQL==0.7.2
jsonschema==2.5.1
paramiko==1.16.0
argcomplete==0.8.1
requests==2.13.0
logutils==0.3.3
python-cinderclient==1.6.0
python-glanceclient==2.0.0
python-keystoneclient==2.3.1
python-neutronclient==4.1.1
python-novaclient==3.3.1
pyvcloud==16
pyvmomi==6.5
progressbar==2.3
prettytable==0.7.2
boto==2.38.0

