Source: osm-devops
Section: devel
Priority: optional
Maintainer: Michael Marchetti <mmarchetti@sandvine.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://osm.etsi.org

Package: osm-devops
Architecture: all
Depends: ${misc:Depends}
Description: Open Source MANO Devops utilities
