{% extends "project_descriptors.html" %}
{% load staticfiles %}


{% block head_block %}
  	{{ block.super }}
<link rel="stylesheet" href="/static/bower_components/select2/dist/css/select2.min.css">
{% endblock %}

{% block title_header_big %}
    {{ block.super }}
  {% if descriptor_type  %}
     {{ descriptor_type|upper }}
  {% else%}
    Undefined
  {% endif %} Packages
{% endblock %}

{% block left_sidebar %}
    {% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li><a> {% if descriptor_type  %}
     {{ descriptor_type }}
  {% else%}
    Undefined
  {% endif %} Packages</a></li>

{% endblock %}

{% block content_body %}
  	{{ block.super }}
{% include 'osm/modal/files_list.html' %}
{% include 'modal/instance_create.html' %}
<div class="row">
    {% include "osm/descriptor/descriptorlist.html" %}
</div>
{% endblock %}




{% block resource_block %}
  	{{ block.super }}
    <script>
    var csrf_token = '{{csrf_token}}';
    var descr_list_url = '{% url "projects:list_descriptors"  project_id=project_id descriptor_type=descriptor_type%}';
    </script>
    <script src="/static/bower_components/select2/dist/js/select2.js"></script>
    <script src="/static/src/instancehandler/instance_create.js"></script>
    <script src="/static/src/projecthandler/descriptorslist.js"></script>
    <script src="/static/src/projecthandler/onboard_package.js"></script>

{% endblock %}

{% block footer %}
    {% include "footer.html"  %}
{% endblock %}
