{% extends "descriptor/descriptor_view_base.html" %}

{% load staticfiles %}


{% block title_header_big %}
{{ block.super }}
Onboard new {{ descriptor_type }} package
{% endblock %}

{% block left_sidebar %}
{% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
{{ block.super }}
<li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
<li><a href="{% url 'projects:open_project' project_id=project_id %}descriptors/{{descriptor_type}}">{{ descriptor_type }}  Descriptors</a></li>
<li>Create Descriptor</li>
{% endblock %}

{% block tab_pane_button_list %}
{{ block.super }}
<li id="file_li" class="active"><a href="#upload" data-toggle="tab"><i class="fa fa-upload"></i> Onboard Package</a></li>
{% endblock %}

{% block nav_buttons_list %}
{{ block.super }}
<li class="pull-right">
    <button id="cancel" type="button" class="btn btn-block btn-primary btn-sm" onclick="cancel(this.id)"><i
            class="fa fa-times"></i> Cancel
    </button>
</li>
{% endblock %}

{% block tab_pane_list %}
{{ block.super }}

<div class="tab-pane active" id="upload">

    <h4>Drag and drop file below</h4>
    <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
    </div>
</div>
{% endblock %}


{% block resource_block %}
{{ block.super }}

<script>
    var descr_list_url = '{% url "projects:list_descriptors"  project_id=project_id descriptor_type=descriptor_type%}';
    var csrf_token = '{{csrf_token}}';
    var new_desc_url ="{% url 'projects:new_descriptor' project_id=project_id descriptor_type=descriptor_type %}"

    function cancel(id) {
        window.location.href = descr_list_url
    }

</script>
    <script src="/static/src/projecthandler/onboard_package.js"></script>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
